.FriendBoxes {
    text-align: left;
    display: inline-block;
    width: 380px;
    height: 100px;
    margin: 10px 60px;
    padding: 5px 5px;
}

.FriendBoxes img {
    margin: 10px 10px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.FriendNames {
    margin: 10px auto;
    text-align: center;
    width: 200px;
    font-size: 20px;
}

.FriendBoxes:hover {
    color: white;
    background-color: #404040;
}

.FriendBoxes a {
    margin: auto 10px;
    text-decoration: none;
}

.FriendBoxes a:visited {
    color: white;
}

.f-addfriend{
    float: right;
    margin: 28px 0;
    border: none;
    background-color: #6fa8dcff;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
}