.Gothic {
    font-family: Gothic;
}

h1.Gothic {
    font-family: Gothic;
}

h5.Gothic {
    font-family: GothicL
}

.mainbox {
    color: white;
    text-align: center;
    font-family: sans-serif;
    margin: 50px 20px;
}

#header {
    background-color: #202020;
}

#OtherFunctions,
#BigImages,
#Register,
#Upload,
#InviteFriends {
    align-items: center;
    justify-content: center;
    margin: 20px 20px;
}
#OtherFunctions,
#Register,
#Upload,
#InviteFriends {
    padding: 150px;
}


.buttons{
    border-radius: 10px;
    width: 200px;
    height: 50px;
    margin: 30px 30px;
    padding: 0;
    background: #2e2e2e;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 700;
    transform: .3s  linear;
    color: white;
}

.buttons a{
    border-radius: 10px;
    padding: 13px 0px;
    margin: 0;
    text-decoration: none;
    color: white;
    display: block;
}

.buttons a:hover{
    text-decoration: none;
    color: white;
    background-color: #0478e4;
}

.buttons:hover{
    color: white;
}

.scrEvent{
    height: 500px;
	display: none;
}
.areabg{
    background-color: #404040;
}
