.loginBox {
    margin: 100px auto;
    padding: 0;
    background-color: rgb(126, 126, 126);
    border-radius: 10px;
    width: 470px;
    padding: 30px 60px;
}
.signupBox{
    margin: 50px auto;
    padding: 0;
    background-color: rgb(126, 126, 126);
    border-radius: 10px;
    width: 470px;
    padding: 30px 60px;
}
.logo {
    height: 50px;
    text-align: center;
}

.logo img {
    height: 50px;
}


.textbox {
    width: 100%;
    height: 50px;
    position: relative;
    margin-top: 15px;
}

.textbox input {
    width: 100%;
    height: 50px;
    border-left: 10px solid #ee4e4e;
    border-top: none;
    border-right: none;
    border-bottom: none;
    background: #d4d4d4;
    padding: 0 15px;
    font-size: 16px;
    outline: none;
    border-radius: 10px;
    color: #2e2e2e;
}

.textbox input:focus {
    background-color: #b8b8b8;
    color: #2e2e2e;
}

.check-message {
    position: absolute;
    top: 30%;
    right: 15px;
    color: #ee4e4e;
    text-transform: translateY(-50%);
}

.textbox input:focus + .check-message{
    color: #ee4e4e;
    overflow: hidden;
}

.remember-me{
    float: left;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #d4d4d4;
    margin-right: 15px;
    position: relative;
    border-radius: 5px;
}

.checkbox input{
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.checked{
    position: absolute;
    left: 8px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #000000;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
    display: none;
}

.checkbox input:checked +.checked{
   display: block; 
}

.options{
    margin-top: 15px;
    color: #2e2e2e;
    overflow: hidden;
    font-size: 14px;
}

.options a{
    color: #d4d4d4;
    font-size: 14px;
    float: right;
    cursor: pointer;
}

.login-btn{
    border-radius: 10px;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    background: #2e2e2e;
    color: #d4d4d4;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 700;
    transform: .3s  linear;
}

.login-btn.active{
    background-color: #0478e4;
    color: #d4d4d4;
}

.login-btn.active:hover{
    opacity: .7;
}

.hidden{
    display: none;
    border: solid 5px #ee4e4e;
}
::placeholder {
    color: #2e2e2e;
  }

.dont-have-account{
    font-size: 14px;
    text-align: center;
    color: #2e2e2e;
    margin: 10px 0;
}

.dont-have-account a{
    color: #d4d4d4;
    cursor: pointer;
}

@media screen and (max-width:600px){
    body{
        background: rgb(126, 126, 126) !important;
    }
    .loginBox .signupBox{
        width: 100%;
        padding: 0 20px;
    }
}
