.profilebox{
    float: none;
    margin: 60px auto;
    position: static;
    background-color: #3c3c3a;
    border-radius: 10px;
    width: 80%;
    height: 100%;
    padding: 20px 60px;
}

#profilebg{
    margin: 30px auto;
    width: 100%;
    height: 400px;
    background-image: url('../img/headerpic.jpg');
    background-repeat: no-repeat;
    /* background-color: #fff; */
    color: black;
    background-size: cover;
}

#profilebg img{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
}

#profilepic{
    width: 200px;
    height: 200px;
    position: relative;
    top: 200px;
    /* border: 3px solid rgba(100, 100, 100, 0.7); */
    background-image: url(../img/Face.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 10px;
}

.username{
    width: 200px;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 25px;
    display: inline-block;
}

#intro{
    color: white;
    font-size: 20px;
    padding: 10px;
    display: inline;
}

#addfriend, #editprofile{
    float: right;
    margin: 12px 18px 0 0;
    border: none;
    background-color: #6fa8dcff;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    outline: none;
}


#pfhr{
    float: none;
    border-top: 1px solid white;
    margin: 0;
}

.profile-btn{
    border-radius: 10px;
    width: 200px;
    height: 50px;
    margin: 10px 5px;
    background: none;
    color: white;
    border: none;
    outline: none;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.profile-btn:hover{
    background: #d4d4d4;
    color: black;
}
.profile-btn a{
    display: block; 
    width: 200px;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    outline: none;
    color: white;
}

.btn{
    margin: 0;
    padding: 0 10%;
}

.clearfix {
    *zoom: 1;
}

.clearfix:after {
    content: "";
    display: table;
    line-height: 0;
    clear: both;
}

.aboutbox {
    margin: 20px auto;
    background-color: #3c3c3a;
    border-radius: 10px;
    width: 80%;
    height: 100%;
}

.list {
    padding: 20px 30px;
    color: white;
    float: left;
    width: 35%;
    height: 300px;
    border-right: 1px solid white;
}

.content {
    padding: 20px 30px;
    color: white;
    width: 65%;
    height: 300px;
    float: left;
}
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background: none;
}

.col-3 {
    border-right: 1px solid #b7b7b7ff;
    padding: 0 10px;
    font-size: 18px;
}
.col-9{
    font-size: 16px;
    padding: 10px 20px;
}
.nav-pills .nav-link:hover {
    background-color: none;
}

a {
    color: white;
}

a:hover,
.tab-content {
    color: white;
}

.ui-widget-content a {
    color: white;
}

#sub-nav .nav-item {
    width: 100px;
    margin: 10px 10px;
    text-align: center;
}
.list-group-item {
    background: none;
    border-top: 1px solid white;
    border-left: none;
    border-right: none;
    border-bottom: none;
}
#v-pills-jobs, #v-pills-about {
    height: 200px;
}
.pic-input {
    opacity: 0;
    width: 0;
}

.pic-btn {
    width: 120px;
    padding: 4px 10px;
    margin: 0 3px;
}
@media screen and (max-width:600px){
    body{
        background: #3c3c3a;
    }
    .profilebox{
        width: 100%;
        padding: 0 20px;
    }
}